.programa_icone {
	padding: 10px;
	margin: 10px;
	float: left;
	box-sizing: border-box;
	width: 260px;
	height: 117px;
	background-image: -webkit-linear-gradient(rgba( 238, 238, 238, 1), rgba( 238, 238, 238, 1));
	background-image: linear-gradient(rgba( 238, 238, 238, 1),rgba( 238, 238, 238, 1));
	border-radius: 8px;
	-moz-box-sizing: border-box;
	opacity: 1;
}

.programa_icone:hover
	{
		opacity: 0.8;
	}
.ppos_nome
	{
		font-size: 20px;
	}

.ppos_md
	{
		float: left;
		margin-right: 8px;
	}
.ppos_divisao
	{
		margin-top: 40px;
		float: left;
		font-size: 40px;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #000000;
		width: 900px;
	}
.ppos_conceito
	{
	padding: 5px;
	font-size:18px;
	color: #FFFFFF;
	text-align: center;
	border:#000000 1px solid;
	border-radius: 8px;
	background-color: #DF8500;	
	width: 30px;
	height: 30px;
	float: right;
	}
.ppos_nota_7 { background-color: #000000; }
.ppos_nota_6 { background-color: #202020; }
.ppos_nota_5 { background-color: #404040; }
.ppos_nota_4 { background-color: #101080; }
.ppos_nota_3 { background-color: #801010; }
.ppos_nota_2 { background-color: #000000; }
.ppos_nota_1 { background-color: #000000; }

.ppos_conceito_descricao
	{
		font-size: 8px;
		float: clear;
	}
.ppos_descricao
	{
		float: clear;
	}
.ppos_capes
	{
		float: clear;
	}
.ppos_centro
	{
		float: left;
	}
.ppos_coordenador
	{
		float: left;
	}
