.tabela00
	{
		font-size: 14px;
		font-family: Roboto, Tahoma, Arial, Helvetica, sans-serif;
	}
.tabela01
	{
		font-size: 14px;
		font-family: Roboto, Tahoma, Arial, Helvetica, sans-serif;
	}
p	
	{
		font-size: 15px;
		font-family: Roboto, Tahoma, Arial, Helvetica, sans-serif;
		line-height: 140%;	
		color: #303030;
	}
