#pdf_edital
	{
		font-family: Arial, Helvetica, sans-serif;
	}
.lt5
	{
		font-size: 30px;
		color: #fff;	
	}
	
.lt3
	{
		font-size: 18px;
		color: #fff;	
	}	
#logo
	{
		position: absolute;
		right: 10%;
		width: 150px;
		height: 200px;
		background-color: #FFF;
		top: 0;
	}
.tabela01
	{
		
	}
