#div1 {
	position: absolute;
	top: 5px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFFFFF;
	font-size:12px;
}

#div1 a { text-decoration: none; color:#FFFFFF; }
#div1 a:hover { text-decoration: underline; color:#FFFFFF; }

.art1 {
	font-family:Verdana, Geneva, sans-serif;
	color:#101010;
	font-size:12px;
	text-decoration:none;
	margin-left: 0px;
	}
	
.art2y {
	font-family:Verdana, Geneva, sans-serif;
	color:#FFc0c0;
	font-size:13px;
	text-decoration:none;
	}	
	
.art2w {
	font-family:Verdana, Geneva, sans-serif;
	color:#FFc0c0;
	font-size:13px;
	text-decoration:none;
	}
.art2w a {
	font-size:12px;
	color:#FFc0c0;
	text-decoration:none;
	}

.art2w:hover {
	color:#FFDDDD;
	text-decoration: underline;
	}
	
.art2 {
	font-family:Verdana, Geneva, sans-serif;
	color:#101010;
	font-size:13px;
	text-decoration:none;
	}
.art2 a {
	font-size:12px;
	color:#9f3503;
	text-decoration:none;
	}

.art2:hover {
	color:#7f1503;
	text-decoration: underline;
	}	
.art3 {
	font-family:Verdana, Geneva, sans-serif;
	color:#101010;
	font-size:12px;
	text-decoration:none;
	}	
.art0 {
	font-family:Verdana, Geneva, sans-serif;
	color:#101010;
	font-size:10px;
	text-decoration:none;
	}	
div.titulo_area {
	font-size:18px;
	font-family:"lilitaone";
	color:#f18400;
	margin-bottom:15px;
	}
.trabalho {
	font-family:Verdana, Geneva, sans-serif;
	color:#101010;
	font-size:13px;
	text-decoration:none;
	margin-left: 10px;
	}	