#content{		
	overflow:hidden;
	-moz-box-shadow: 0 0 2px 2px #ccc;
	-webkit-box-shadow: 0 0 2px 2px #ccc;
	box-shadow: 0 0 2px 2px #ccc;
	height: 1800px;
	width: 100%;
	}		
.nav_item { float: left; width: 120px; height: 120px; background-color: #ECECEC; padding: 0px; }
.nav_item_half { float: left; width: 120px; height: 40px; background-color: #ECECEC; padding: 0px; }
.nav_item:hover { background-color: #DCDCDC; cursor: pointer; }
.nav_item_half:hover { background-color: #DCDCDC; cursor: pointer; }

.contentbox-wrapper{			
	position:relative; 
	left:0; 
	width: auto; 
	height: auto;
	}

.contentbox{
	width: auto; 
	padding:5px;
	background:#ffa;
	height: auto;
	}						
#nav {
	margin-top:00px;
	background: url("navbg.png") repeat-x center bottom;
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 10px;
	}

#nav ul li
	{
		display:inline;
		margin-right:10px;
	}
#nav a.active {
		font-weight:bold;
	}							