* {
	margin:0;
	padding:0;
	}
@font-face {
    font-family: "lilitaone";
    src: url("lilitaone.eot"); /*somente para o IE*/
	src: url("lilitaone.otf") format("opentype");
}
body {
	background:url(imagens/bk_body.png);
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	}
div.geral {
	width:840px;
	margin:0 auto;
	}
/* TOPO */

div.bt_inicio {
	background:url(imagens/bt_inicio.png) no-repeat left;
	width: 71px;
	height:29px;
	float:left;
	margin-left:35px;
	}
div.bt_inicio:hover {
	background:url(imagens/bt_inicio.png) no-repeat right;
	}
div.bt_face_puc {
	background:url(imagens/bt_face_puc.png) no-repeat left;
	width: 89px;
	height: 28px;
	float:left;
	margin-left: 293px;
	}
div.bt_face_puc:hover {
	background:url(imagens/bt_face_puc.png) no-repeat right;
	}
div.bt_twit_puc {
	background:url(imagens/bt_twit_puc.png) no-repeat left;
	width: 156px;
	height: 28px;
	float:left;
	margin-left:22px;
	}
div.bt_twit_puc:hover {
	background:url(imagens/bt_twit_puc.png) no-repeat right;
	}
div.bt_youtube_puc {
	background:url(imagens/bt_youtube_puc.png) no-repeat left;
	width: 115px;
	height: 28px;
	float:left;
	margin-left:22px;
	}
div.bt_youtube_puc:hover {
	background:url(imagens/bt_youtube_puc.png) no-repeat right;
	}
/* MENU */
div.menu {
	background: #db7900;
	height:47px;
	padding-left:10px;
	}
div.menu ul {
	list-style: none;
	}
div.menu ul li {
	float:left;
	height:34px;
	padding-top:13px;
	}
div.menu ul li:hover {
	background:#a40d30;
	}
div.menu ul li a {
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
	border-right: solid 1px #fda73e;
	padding:0 25px;
	}
div.menu ul li a.ultimo {
	border:none;
	}
/* CONTEUDO */
div.conteudo {
	padding:34px;
	background:#FFF;
	}
/* HOME */
div.box_vermelho_home {
	background:#a40d30;
	padding:20px;
	}
.titulo_amarelo {
	font-family:"lilitaone";
	color:#efc513;
	font-size:26px;
	text-decoration:underline;
	}
.art1 {
	font-family:Verdana, Geneva, sans-serif;
	color:#9f3503;
	font-size:14px;
	text-decoration:none;
	}
.art2 {
	font-family:Verdana, Geneva, sans-serif;
	color:#4f1503;
	font-size:12px;
	text-decoration:none;
	}
.art0 {
	font-family:Verdana, Geneva, sans-serif;
	color:#4f1503;
	font-size:10px;
	text-decoration:none;
	}	
		

.art1 a {
	color:#9f3503;
	text-decoration:none;
	}

.art1:hover {
	color:#7f1503;
	text-decoration: underline;
	}
	
/* RODAPE */
div.rodape {
	width:840px;
	margin:0 auto;
	display:block;
	}