/*------------------- CLASSES TEXTOS*/
@font-face {
    font-family: 'open_sansitalic';
    src: url('font/OpenSans-Italic-webfont.eot');
    src: url('font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Italic-webfont.woff') format('woff'),
         url('font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('font/OpenSans-Bold-webfont.eot');
    src: url('font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Bold-webfont.woff') format('woff'),
         url('font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('font/OpenSans-Italic-webfont.eot');
    src: url('font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Italic-webfont.woff') format('woff'),
         url('font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('font/OpenSans-LightItalic-webfont.eot');
    src: url('font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Tamanhos das fntes */
.lt0{
    font-family: 'open_sansregular';
	font-size: 10px;
}
.lt1{
    font-family: 'open_sansregular';
	font-size: 14px;
}
.lt2{
    font-family: 'open_sansregular';
    font-size:18px;
}
h1{
	font-family: 'open_sanslight_italic';
	font-size: 30px;
	color:#000033;
}
h2{
	font-family: 'open_sanslight_italic';
	font-size: 20px;
	color: #333333;
}
h3{
	font-family: 'open_sanslight_italic';	
	font-size: 16px;
	color: #a8a3a3;
}
h4{
	font-family: 'open_sanslight_italic';	
	font-size: 12px;
	color: #a8a3a3;	
}
.log{
    font-size: 13pt;
    margin-right: 15px;
}
.font_menu{
    display: block;
    font-size: 15px;
    color: #ffffff;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
        /* Transition */
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.font_footer{
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #333333;
}
.align_left_{
    text-align: left;
}
.align_center_{
    text-align: center;
}
.align_right_{
    text-align: right;
}