/*------------------- CLASSES TEXTOS*/
/*------------------- CLASSES TEXTOS*/
@font-face {
    font-family: 'open_sansitalic';
    src: url('font/OpenSans-Italic-webfont.eot');
    src: url('font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Italic-webfont.woff') format('woff'),
         url('font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('font/OpenSans-Bold-webfont.eot');
    src: url('font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Bold-webfont.woff') format('woff'),
         url('font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('font/OpenSans-Italic-webfont.eot');
    src: url('font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Italic-webfont.woff') format('woff'),
         url('font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanscondlight';
    src: url('font/OpenSans-CondLight-webfont.eot');
    src: url('font/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-CondLight-webfont.woff') format('woff'),
         url('font/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('font/OpenSans-CondLight-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('font/OpenSans-LightItalic-webfont.eot');
    src: url('font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Tamanhos das fntes */
.lt0{
    font-size: 15pt;
}
.lt1{
    font-size: 12pt;
}
h1{
    font-family: 'mission_gothiclight';
    font-size: 20pt;
    color:#8b1217;
    text-transform: capitalize;
}
.txt_a_left_{
    text-align: left;
}
.txt_a_justify_{
    text-align: justify;
}