.form_css
	{
	font-family: 'OpenSansRegular';
	font-size: 12px;
	color: #003853;
	}
table
	{
	font-family: 'OpenSansRegular';
	font-size: 12px;
	color: #003853;		
	}
	
table td
	{
	font-family: 'OpenSansRegular';
	font-size: 12px;
	color: #003853;		
	}	
